@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

@layer utilities {
  .heading-lg-500 {
    @apply text-4xl lg:text-5xl font-[500];
  }

  .heading-md-500 {
    @apply text-3xl font-[500];
  }

  .heading-md-400 {
    @apply text-3xl font-[400];
  }

  .heading-sm-500 {
    @apply text-base md:text-lg font-[500];
  }
  .heading-sm-400 {
    @apply text-lg md:text-xl font-[400];
  }
  .heading-xs-500 {
    @apply text-base md:text-lg font-[500];
  }
  .heading-xs-400 {
    @apply text-base md:text-lg font-[400];
  }

  .text-body {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #b7b7b7;
  }

  .section-wrapper {
    @apply container mx-auto px-4 sm:px-0;
  }

  .block-gap {
    @apply my-10 md:!my-25;
  }
  .content-gap {
    @apply gap-6;
  }
  .paddingY {
    @apply py-8;
  }
  .paddingX {
    @apply px-4 sm:px-0;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexStart {
    @apply flex justify-start items-start;
  }
  .textMaxWidth {
    @apply max-w-[500px] w-full;
  }
}

* {
  @apply transition-all duration-350 ease-in-out;
}

img {
  @apply object-cover max-w-full h-auto cursor-pointer;
}

.social-icon {
  @apply block w-8 h-8 !object-contain;
}
